<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Valeriy Chepurnyi</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- Start Header -->

    <div class="header">
        <div class="navbar">
            <div class="./css/style.css/container">
                <a href="/">
                    <h2 class="fl-left" style="margin-left: 135px;">VaL<span>EriY</span></h2>
                </a>
                <ul style="margin-right: 135px;">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="https://www.linkedin.com/in/валерій-чепурний-27747a23a/" target="_blank">Linkedin</a>
                    </li>
                    <li><a href="https://sketchfab.com/veleox2" target="_blank">Sketchfab</a></li>
                    <li><a href=" " target="_blank">Telegram</a></li>
                    <li><a href="/models">Models</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Start About Me -->
    <section class="showcase">
        <div class="about-me">
            <div class="container">
                <div class="image fl-left">
                    <img src="images/me.png" alt="Test" style="margin-top: 5px; border-radius: 10px;">
                </div>
                <div class="info fl-left">
                    <h2>About Me</h2>
                    <p>Hi! My name is Chepurnyi Valeriy, <br>I am a student and 3D artist with experience in
                        software.</p>
                    <p> My creativity and skills have helped me to create impressive 3D models that are used effectively
                        in the
                        fields of video games, films, commercials and architectural rendering.
                    </p>
                    <div class="hobbies">

                        <!-- Start About Box Content -->

                        <div class="content fl-left">
                            <div class="text fl-left">
                                <h3>3ds Max Development</h3>
                                <p>I do UV mapping</p>
                            </div>
                        </div>
                        <div class="content fl-left">
                            <div class="text fl-left">
                                <h3>Photoshop</h3>
                                <p>I create textures and edit them</p>
                            </div>
                        </div>
                        <div class="content fl-left">
                            <div class="text fl-left">
                                <h3>Blender 3d</h3>
                                <p> I create a 3D environment</p>
                            </div>
                        </div>
                        <div class="content fl-left">
                            <div class="text fl-left">
                                <h3>Substance Painter</h3>
                                <p>I create textures and materials for 3D content;</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Start My Skills -->
        <div class="my-skills"
            style="background-image: url('images/background.jpg'); background-position-y: top; background-size: 100%; border-radius: 10px; margin: 10px;">
            <div class="container">

                <div class="skills fl-left" style="background-color: rgba(45, 204, 112, 0.75); border-radius: 10px;">
                    <h2>My Skills</h2>
                    <p>✓ Design & build applications in Unity, UE4 game engines, <br>
                        ✓ Creating large and small maps using Unity3D, UE4, Blender 3d,<br>
                        ✓ Creating 3d enviroment assets using Blender 3d, 3Ds Max, Substance Painter,<br>
                        ✓ Good Communication skills with the ability to explain concepts well,<br>
                        ✓ Creating 3d materials for 3d models using Substance Painter, UE4 MasterMaterial,<br>
                        ✓ Editing marketplace content using Blender 3d, 3Ds Max<br>
                        ✓ Creating sub-levels using UE4, Unity3d,<br>
                        ✓ Creating websites using ASP .NET,<br>
                        ✓ Creating software using WPF .NET,<br>
                        ✓ Not bad in Photoshop.<br>
                        <br>
                        </p>    
                </div>
                <div class="progress fl-left">
                    <div class="technique">
                        <h3>3Ds Max</h3>
                        <div>
                            <span style="width:80%">80% &nbsp;</span>
                        </div>
                    </div>
                    <div class="technique">
                        <h3>Photoshop</h3>
                        <div>
                            <span style="width:70%">70% &nbsp;</span>
                        </div>
                    </div>
                    <div class="technique">
                        <h3>Blender 3D</h3>
                        <div>
                            <span style="width:80%">80% &nbsp;</span>
                        </div>
                    </div>

                    <div class="technique">
                        <h3>Substance Painter</h3>
                        <div>
                            <span style="width:60%">60% &nbsp;</span>
                        </div>
                    </div>

                    <div class="technique">
                        <h3>C# .NET</h3>
                        <div>
                            <span style="width:80%">80% &nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-education"
            style="background-image: url('images/background2.jpg'); background-position-y: top; background-size: 100%; border-radius: 10px; margin: 10px;">
            <div class="container">
                <div class="education fl-left" style="background-color: rgba(45, 204, 112, 0.75); border-radius: 10px;">
                    <h2>My Education</h2>
                    <p>In the "My Education" section, I would highlight the following points:

                        I am currently a third-year student at Uzhhorod National University (UzhNU), pursuing my degree
                        in Software engineering.
                        Throughout my three years of study, I have developed a strong understanding of C# .NET, a
                        versatile programming language widely used in software development.
                        Additionally, I have actively engaged in professional development by participating in
                        supplementary courses focused on various aspects of 3D art and game development.
                        I completed a specialized course in Blender 3D, where I honed my skills as a 3D Environment
                        Artist, gaining proficiency in creating immersive virtual environments.
                        Another course I undertook was centered around 3ds Max, specifically focusing on UV unwrapping
                        techniques, which are crucial for texture mapping and optimization in 3D models.
                        Furthermore, I have acquired expertise as an artist using Substance Painter, a powerful software
                        widely utilized in the gaming industry for texture painting and material creation.
                        Complementing my artistic abilities, I have also dedicated time to learning game development
                        using popular game engines such as Unity and Unreal Engine 4.
                        Through these experiences, I have gained hands-on knowledge of game development principles,
                        including level design, scripting, and gameplay mechanics implementation.
                        My education has provided me with a solid foundation in computer science and 3D art, equipping
                        me with the necessary skills to excel in the field of game development.
                        I continue to stay updated with the latest industry trends and advancements, always eager to
                        expand my knowledge and enhance my skills in pursuit of creating captivating and immersive
                        gaming experiences.</p>
                </div>
                <div class="exp">
                    <div class="certificate">
                        <h3>Faculty of Computers and Information (2020)</h3>
                        <span><strong>Uzhhorod National University (UzhNU)</strong></span>
                        <span></span>

                        Major: <strong>Software engineering</strong>
                        <h3>Internet Courses</h3>
                        <span><strong>Udemy</strong></span>
                        <span></span>
                        <strong>✓Unreal Engine 4: For Absolute Beginners</strong>
                        <span></span>
                        <strong>✓ Complete C# Unity Game Developer 3D</strong>
                        <span></span>
                        <strong>✓ Complete Blender Creator: Learn 3D Modelling for Beginners</strong>
                        <span></span>
                        <strong>✓Creating 3D environments in Blender</strong>
                        <span></span>
                        <strong>✓ Blender Environment Artist: Create 3D Worlds</strong>
                        <span></span>
                        <strong>✓ Unreal Engine for Arch Viz | Unreal Engine PRO in 6 Hrs</strong>
                        <span></span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="work-experience"
            style="background-image: url('images/background3.jpg'); background-position-y: top; background-size: 100%; border-radius: 10px; margin: 10px;">
            <div class="container">
                <div class="work fl-left" style="background-color: rgba(45, 204, 112, 0.75); border-radius: 10px;">
                    <h2>Work Experience</h2>
                    <p>I works at Red Mountain Games as a Level Designer/3D Artist. As a level designer on Unreal Engine 4, I created two exciting levels: an auto center and a modern office. I am currently working on the third level, which will be located in an abandoned warehouse and recreate the casino atmosphere.
                        My approach to creating this level is to create a realistic environment that makes players feel like they are in an abandoned casino with signs of neglect and mystery. I started by studying the architectural style of the casino and gathered a large number of sources of inspiration, including photos, videos and literature.
                        The abandoned warehouse space gives me a lot of freedom in the placement of different elements of the casino. I place tables for poker, roulette, blackjack and other popular gambling games, creating a realistic recreation of a casino environment. An important aspect is to take into account details such as lighting, sound design and adjust to immerse players in the game world. My expertise in level design and 3D art brings these virtual environments to
                        life, showcasing my creativity and attention to detail. Combining my academic pursuits with
                        professional experience, I strive to excel in the field of game development and create
                        captivating gaming experiences.</p>
                    <p></p>
                </div>
                <div class="exp">
                    <div class="certificate">
                        <h3>Level Design, 3d Artist</h3>
                        <span><strong>Red Mountain Games, Ukraine</strong> / May 2022</span>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <br><br>
        </div>
        <div class="contact">
            <div class="container">
                <div class="info fl-left">
                    <h2>Contact Me</h2>
                    <p></p>
                    <p>
                        Pershotravneva 28, V.Komiaty.<br>
                        Zakarpattya, Ukraine </p>
                    <p>
                        <strong>Email:</strong> chepurnyi.valerii@student.uzhnu.edu.ua<br>
                        <strong>Mobile:</strong> +380983326502
                    </p>
                </div>
                <div class="send-info">
                    <form class="send" action="/form" method="post"
                        style="background-color: rgba(45, 204, 112, 0.75); border-radius: 10px;">
                        <input type="text" class="name" name="name" placeholder="Ім'я" required>
                        <input type="text" class="phone" name="phone" placeholder="Телефон">
                        <input type="email" name="email" placeholder="Email" required>
                        <textarea name="text" id="" cols="30" rows="10" placeholder="Введіть текст"></textarea>
                        <button type="submit" class="send-form">Відправити форму</button>
                        <div class="status"></div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</body>

</html>